<div class="container">
  <div class="row">
    <% @hotels.each do |hotel| %>
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
          <%= image_tag hotel.picture.url, class: "card-img-top" %>
          <div class="card-body">
            <h5 class="card-title"><%= hotel.name %></h5>
            <p class="card-text">
              所在地 : <%= hotel.prefecture.name %>
              <br>
              <%= hotel.description %>
            </p>
            <%= link_to 'このホテルの詳細を見る', hotel_path(hotel), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
